html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background-color: #1a1a1a;
}

h1,
h2,
h3,
p
{
  color:white;
  font-size: 1rem;
}

strong{
  color: lightsalmon;
  font-weight: 600;
}

a {
  color: lightsalmon;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}
